body {
    margin:0;
    padding: 10px;
    padding-right: 20px;
    font-family:Arial, Helvetica, sans-serif;
    min-width:399px;
}

input {
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    border-color: #4FC3F7;
    width:100%;
    border-radius:6px;
    box-sizing: border-box;
}

#input-Btn {
    color:#fff;
    border-radius:5px;
    size:50px;
    padding:8px;
    background-color: #E1F5FE;
    background:linear-gradient(135deg, #4FC3F7, #81D4FA);
    margin-top: 4px;
    cursor:pointer;
    border:none;
    transition: all ease;
}

#clear-Btn{
    color:#4FC3F7;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:5px;
    size:50px;
    padding:8px;
    background-color: white;
    margin-top: 4px;
    cursor:pointer;
    border:1px solid #4FC3F7;
}

ul {
    margin-top:20px;
    list-style: none;
    padding-left:6px;
}

ul a{
    margin-top:5px;
    color:#0D47A1;
}

#saveTab-Btn {
    color:#fff;
    border-radius:5px;
    size:50px;
    padding:8px;
    background-color: #E1F5FE;
    background:linear-gradient(135deg, #4FC3F7, #81D4FA);
    margin-top: 4px;
    cursor:pointer;
    border:none;
    transition: all ease;
}